.modal-body
  ul.list-unstyled
    li Up
    li Down
    li Left
    li Right
    li Backspace: delete
    li < Rotate Left
    li > Rotate right
    li + Zoom In
    li - Zoom Out
.modal-footer
  button.btn.btn-default(type="button" class="btn btn-default" data-event-click='closeDialog') Close