div.avatar-container(data-view='AvatarsFormView')
  .row
    .col-sm-12
      ul.list-unstyled.alert.alert-warning(data-showif='avatar.errors.length')
        li(data-foreach-e='avatar.errors' data-bind='e.fullMessage')

  .row.avatar-controls
    .col-sm-4
      .form-group
        input.form-control(type='text' placeholder="Who is this?" data-bind='avatar.name')
    .col-sm-4
      .form-group
        select.form-control(data-bind='selectedComponentId')
          option Select a Component
          option(data-foreach-component='Component.all' data-bind='component.name' data-bind-value='component.id')
  .row
    h4 Your Features:
    ul.list-unstyled.list-features
      li(data-foreach-feature='avatar.features.sortedByDescending.index')
        a(data-bind='feature.name' data-event-click='activateFeature | withArguments feature')
        a.text-danger.pull-right(data-event-click='removeFeature | withArguments feature') &times;

  .row.avatar-row
    .col-sm-6
      .well.well-small
        canvas#new-avatar(style='height:300px; width:300px; border: 1px solid black; cursor:pointer;')
      a.btn.btn-primary(data-event-click='downloadAvatar')
        span.icon-download-arrow
        | Download Avatar
        
    .col-sm-6.feature-col
      .row
        h3
          span Active Feature&nbsp;
          br
          small(data-bind='currentItem.feature.name')
        .img-container(style='height:189px;')
          img(style='max-height:100px' data-bind-src='currentItem.feature.imageDataURI')
      .row.item-controls
        .col-sm-3
          a(data-event-click='zoomIn')
            span.icon-zoom-in
        .col-sm-3
          a(data-event-click='zoomOut')
            span.icon-zoom-out
        .col-sm-3
          a(data-event-click='rotateLeft')
            span.icon-rotate-left
        .col-sm-3
          a(data-event-click='rotateRight')
            span.icon-rotate-right
        .item-btn-controls
          .col-sm-6
            a.btn.btn-primary(data-event-click='bringToFront') Bring to Front
          .col-sm-6
            a.btn.btn-primary(data-event-click='sendToBack') Send to Back
          .col-sm-12
            a.btn.btn-info(data-event-click='executeAction | withArguments "keyboardShortcuts"') Keyboard Shortcuts
      
