.row
  .col-sm-3(data-foreach-avatar='avatars')
    .thumbnail
      a(data-route='routes.avatars[avatar]')
        .img-container(style="height:200px;width:100%")
          img(style='max-height:100%; max-width:100%' data-bind-src='avatar.imageDataURI')
      .caption
        p(data-bind='avatar.name')
        p(data-showif='avatar.hasOwner' data-bind='avatar.created_by_username | prepend "Created by "')
        p(data-showif='avatar.isOwnedByCurrentUser')
          a.btn.btn-danger(data-event-click='destroy | withArguments avatar') Delete
          a.btn.btn-primary(data-route='routes.avatars[avatar].edit') Edit
