form(data-formfor-c='component' data-event-submit='saveComponent')
  .row
    div.alert.alert-danger(data-showif='c.errors.length')
      ul.list-unstyled
        li(data-foreach-error='c.errors' data-bind='error.fullMessage')
  .row
    .col-xs-6
      .well
        .img-container(style="height:200px;width:100%")
          p(data-showif='c.imageDataURI | not') Upload an image to see a preview!
          img(style='max-height:100%; max-width:100%' data-bind-src='c.imageDataURI')
    .col-xs-6
      .well.well-small
        canvas#new-avatar(style='height:300px; width:300px; border: 1px solid black; cursor:pointer;')
  .row
    .form-group.col-xs-6
      label Name
      input.form-control(type='text' data-bind='c.name' placeholder='name')
    .form-group.col-xs-6
      label Default Position:
      .row
        .col-xs-4
          input(type="text" disabled="true" data-bind='component.defaultX')
        .col-xs-4
          input(type="text" disabled="true" data-bind='component.defaultY')
        .col-xs-4
          input(type="text" disabled="true" data-bind='component.defaultScale')

  .row
    .form-group.col-xs-6
      label Type
      select.form-control(data-bind='component.type')
        option(data-foreach-t='Component.TYPES' data-bind='t' data-bind-value='t')
    .form-group.col-xs-6
      label File
      input.form-control(type='file' data-bind='c.imageFile')
  .row
    .form-group.col-xs-6
      label Description
      textarea.form-control(data-bind='c.description' placeholder='description')
  .row
    .form-group
      .row
        .col-xs-4
          input.btn.btn-primary(data-addclass-btn-warning='wasChanged' type='submit' data-bind-value='saveMessage | default "Save Component"')
        .col-xs-4
          a.btn.btn-danger(data-event-click='destroy | withArguments component', data-showif='component.isNew | not') Delete
